* {
    padding: 0;
    margin: 0;

}

#header-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.877)), url(../images/home1.jpg);
    /* background-color: rgba(0, 0, 0, 0.884); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding: 2rem 10rem;
    margin: auto;
}

.nav-links {
    display: flex;

}

#logo {
    text-decoration: none;
    color: #fac108;
    font-size: 30pt;
    font-family: cursive;
}

.ul-list {
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin-left: 20rem;

}

.nav-item {
    text-decoration: none;
    color: #F2F4E4;
    justify-content: space-around;
    font-size: 17px;
}

.nav-item:hover {
    color: #fac108;
}

.header-text {
    /* margin: 10rem 20rem; */
    /* justify-items: center; */
    text-align: center;
    padding-top: 10rem;
}

.header-text h4 {
    font-size: 30pt;
    color: #fac108;
    /* margin: 10rem 20rem; */
}

.header-text h1 {
    font-size: 50pt;
    color: #F2F4E4;
    padding-bottom: 3rem;

}



.about-section {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.233)), url(../images/resort1.jpg);
    width: 100%;
    height: 100vh;
    padding-top: 10rem;

}

.about-image {
    display: flex;
    max-width: 50%;
    max-height: 50%;

}

.about-text {
    font-size: 20px;
    text-align: center;

}

.about-text h2 {
    padding-bottom: 2rem;
    font-weight: bolder;
    font-size: 40px;
    color: #fac108;
}

.about-text p {
    text-align: center;
    font-size: 25px;
    color: #F2F4E4;
    font-family: cursive;
    line-height: 5rem;
}


#section-p {
    display: flex;
    gap: 4rem;
    height: 60vh;
    padding: 5rem 10rem;

}

.sec-paradise {
    height: 100vh;
    width: 100px;
    background: #fac108e7;
    transition: width 3s;
    transition-duration: 1s;
}

.sec-paradise:hover {
    width: 1300px;
}


.paradise-text {
    text-align: center;
    padding-top: 8rem;

}

.paradise-text h4 {
    color: #F2F4E4;
    font-size: 30px;
}

.paradise-text h1 {
    font-size: 60px;

}

.paradise-icons {
    text-align: center;
    gap: 30px;
}




.sec-apartment {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.815);
}

.apartment-text {
    text-align: center;
    padding-top: 2rem;
}

.apartment-text h2 {
    color: #fac108;
    font-size: 30px;
}

.apartment-text p {
    color: #F2F4E4;
    font-family: cursive;
}

.sec-booking {
    background-image: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.233)), url(../images/receptionists.jpg);
    background-repeat: no-repeat;
    text-align: center;
    padding-left: 38rem;
    padding-top: 4rem;
    /* padding: 5rem 0; */
    height: 40vh;
}

.booking-text {
    font-size: 25px;

}

.booking-text h1 {
    color: #F2F4E4;
    padding-bottom: 2rem;
}

.booking-text h4 {
    color: #fac108;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid-container img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.grid-item {
    overflow: hidden;
}

.grid-item h4 {
    color: #fac108;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.grid-container2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.grid-items {
    overflow: hidden;
}

.restaurant {
    text-align: center;
    /* padding: 4rem 0; */

}

.restaurant h2 {
    /* padding-bottom: 3rem; */
    font-size: 30pt;
    color: #F2F4E4;
}

.restaurant-bg {
    background-color: rgba(0, 0, 0, 0.815);
    height: 70vh;
}





.testimonials {

    text-align: center;
    padding-top: 5rem;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.808)), url(../images/hotel6.jpg);


}

.testimonials h1 {
    color: #fac108;
    font-size: 30px;
    text-align: center;
    padding-bottom: 3rem;
}

.testimonial-text {
    display: flex;
    font-size: 20px;
    color: #F2F4E4;
}

.testimonial-text h4 {
    color: #ca4b10;
}


.testimonial-text p {
    text-align: left;
}

.btn {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 1rem;
    border: 2px solid rgba(165, 79, 8, 0.897);

}

.btn a {
    text-decoration: none;
    color: #fac108;
    font-size: 20px;
}


.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 10rem 20rem;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.btn-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn-btn:hover {
    background-color: #0056b3;
}


@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    .btn-btn {
        font-size: 14px;
    }
}

footer {
    background-color: #776322;
    height: 40vh;
}

.footer-itm {
    text-align: center;
    gap: 5rem;
    list-style-type: none;
    /* margin-left: 20rem; */
}

.f-itm {
    text-decoration: none;
    color: #F2F4E4;
    font-size: 17px;
    list-style-type: none;
    gap: 5rem;
}

.footer-itm p {
    padding-top: 3rem;
    font-size: 30px;
}

.footer-item {
    text-decoration: none;
    color: #F2F4E4;
    justify-content: space-around;
    font-size: 17px;
    
}